{%  extends 'base.html' %}
{% block body %}
    <h1>CALICUT UNIVERSITY</h1>

<p title="ABOUT CALICUT UNIVERSITY">
The University of Calicut is the largest University in Kerala.
    Established in the year 1968, it is the second University
    to be set up in Kerala. The University aims to nurture
    excellence in education and research in its catchment
    areas of Northern Kerala, historically consigned to the
    periphery of Kerala’s academic map. The University lays
    its emphasis on fostering quality human resource and
    promoting productive research that benefit both local
    communities and wider humanity. The University was created
    through a Government plan bifurcating Kerala University.
</p>

{%  endblock body %}